body {
  background-color: #131010;
}
h1 {
  color: #FFF0DC;
}
p {
  color: #FFF0DC;
}

.hero {
  height: 30vh; // 30 percent of height
  background: url("Collectable.gif") no-repeat center;
  display: flex;
  justify-content: center;   // Center horizontally
  text-align: center;
  color: #FFF0DC;      
  position: relative;
}
